@media screen and (max-width: 1024px) {
    .projects{
        margin: 15px;
    }
}


@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes updown {
    0%{
        opacity: 1;
        top: 88vh
    }
    100%{
        opacity: 0;
        top: 84vh
    }
}

body::-webkit-scrollbar{
    width: 6px;
    background-color: cornsilk;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    
}
html {
    scroll-behavior: smooth;
  }

.fa-chevron-circle-down{
    font-size: 40px;
    color: white;
}

.down-arrow{
    position: absolute;
    top: 86vh;
    left: 48vw;
    z-index: 0;
    animation: updown 1.5s 1s linear infinite alternate; 
}
.textWhite{
    text-shadow: 4px 4px 4px black;
}

.navbar{
    width: 100vw;
}
.menu{
    position: absolute;
    right: 32px;
    top: 16px;
    z-index: 999;
}
.menu > div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: .4s;
}
.menu-list a{
    color: white;
}
.change .bar1{
    transform: rotate(-45deg) translate(-4px,10px)
}
.change .bar2{
    opacity: 0;
}
.change .bar3{
    transform: rotate(45deg) translate(-4px,-12px)
}
.hero{
    background-image: url('/img/notebook-1280538_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url('/img//notebook-1280538_1280.jpg');
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 700;
}
.name{
    font-size: 32px;
    color: white;
    font-style: bold;
}
body::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #000000;
}
#typewrite::after{
    content: '_';
    height: 5%;
    right: -5px;
    animation: blink .5s infinite alternate linear;
}

.iconalign{
    display: inline-flex;
    vertical-align: middle;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: black;
    height: 100vh;
    top: -100vh;
    position: absolute;
    width: 100vw; 
    transition: all .5s; 
}
.logo a{
    font-family: 'Mansalva', cursive;
    font-size: 40px;
    font-weight: 700;
    color: white;
    position: absolute;
    
    left: 30px;
}
ul.menu-list{
    margin-top: 10vh;
}
.change.nav-menu{
    top: 0vw;
    width: 100vw;
}

.item{
    padding: 8px;
    font-size: 30px;
}


/* projects */


.projects{
    padding-top: 32px;
    padding-bottom: 32px;
}
.projects h1{
    font-size: 24px !important;
    font-weight: 700;
    margin: 16px;
}
.projects h2{
    font-size: 20px !important;
}
.projects div.column{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.projects .column a:hover{
    color: white;
}
.projects .column{
    margin: 5px;
}
.onam{
    border-radius: 8px;
    background-repeat: no-repeat;
    transition: 1s ;
}
.onam:hover{
    background: rgb(0, 0, 0);
}
.cgpc{
    border-radius: 8px;
    background-repeat: no-repeat;
    transition: 1s ;
}
.cgpc:hover{
    background: rgb(0, 0, 0);
}
.golazo{
    background-repeat: no-repeat;
    transition:  1s linear ;
    border-radius: 8px;
}
.golazo:hover{
    background: black;
}

.more{
    background-repeat: no-repeat;
    transition: 1s ;
    border-radius: 8px;
}
.more:hover{
    background:black;
}
.more:hover p{
    color: whitesmoke;
}

.cgpc>p>a{
    color: #4a4a4a;
}
.cgpc:hover p , .cgpc:hover p a{
    color: whitesmoke
}
.cgpc>p>a:hover{
    text-decoration: underline;
}

.fa-external-link-alt{
    font-size: 10px;
    vertical-align: top
}
.myself{
    padding-top: 32px;
    padding-bottom: 32px; 
}

.sep{
    width: 5px;
    height: 5px;
    background: #000000;
}
.black.fa-heart{
    color: #000000
}
.myself h1{
    font-size: 24px !important;
    font-weight: 700;
    margin: 16px;
}
.code-icon{
    position: absolute;
    left: 32px;
    top: 32px;
    color: white;
}

.tech p{
    line-height: 30px;
}
.tech code{
    color: #000000;
    font-weight: 100;
}
.tech .column{
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px black;
    margin: 20px;
}
.under{
    box-shadow: inset 0 -4px 0 0px pink;
    transition: 1s;
}
.under:hover{
    box-shadow: inset 0 -8px 0 0px #33e03f;
}
.me{
    display: flex;
    align-items: center
}
.history{
    padding-top: 32px;
    padding-bottom: 32px;
    background: #f5f5f5;
}
.history-title{
    word-spacing: -4px;
    font-weight: bold;
}
.hi{
    vertical-align: 10px;
    font-size: 20px;
}
.s{
    font-size: 35px;
}
.tory{
    vertical-align: 2px;
    font-size: 20px;
}
.timeline{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 100%;
    padding-top: 32px;
}
.timeline-item {
    align-self: flex-end;
    position: relative;
    width: 50%;
    padding: 32px;
}

.timeline-item::before{
    content: "";
    background-color: #dbdbdb;
    display: block;
    width: .1em;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.timeline-item:nth-child(2n) {
    align-self: flex-start;
    margin-left: 0;
    text-align: end;
    margin-right: 2em;
}

.timeline-item:nth-child(2n)::before{
    right: -.1em;
    left: auto;
}

.marker {
    position: absolute;
    background: #eb3939;
    border: .1em solid #eb3939;
    border-radius: 100%;
    content: "";
    display: block;
    height: .8em;
    left: -.35em;
    top: 2.3rem;
    width: .8em;
}

.timeline-item:nth-child(2n) .marker {
    left: auto;
    right: -.45em;
}

.green{
    background: #33e03f;
    border: #33e03f;
}

.contact{
    background: #123c69;
    padding: 60px;
}
.contact h1{
    font-size: 24px !important;
    font-weight: 700;
    margin-bottom: 40px;
    color: white;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input{
    margin: 8px;
    padding: 8px;
    width: 50%;
    outline: none;
    border: none;
}
.form textarea{
    margin: 8px;
    width: 50%;
    padding: 8px;    
    outline: none;
    border: none;
}

.button{
    margin-top: 16px;
}

.footer {
    background: #ac3b61;
    
}
.footer *{
    color: black
}

.findme{
    padding-top: 40px;
    display: flex;
    
    justify-content: center;
    flex-wrap: wrap;
}
.findme div{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 16px;
    
}
.fa-envelope{
    transition: color .5s
}
.fa-github{
    transition: color .5s
}
.fa-gitlab{
    transition: color .5s
}
.fa-twitter{
    transition: color .5s
}
.fa-envelope:hover{
    color: white
}
.fa-github:hover{
    color: #33e03f;
}
.fa-gitlab:hover{
    color:  rgb(255, 103, 1) 
}
.fa-twitter:hover{
    color: rgb(29, 161, 242);
}