@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes updown {
    0%{
        top: 88vh
    }
    100%{
        top: 86vh
    }
}

body::-webkit-scrollbar{
    width: 6px;
    background-color: cornsilk;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    
}
html {
    scroll-behavior: smooth;
  }

.fa-chevron-circle-down{
    font-size: 40px;
    color: white;
}

.down-arrow{
    position: absolute;
    top: 86vh;
    left: 48vw;
    z-index: 999;
    animation: updown 1.5s linear infinite alternate; 
}
.textWhite{
    text-shadow: 4px 4px 4px black;
}

.navbar{
    width: 100vw;
}
.menu{
    position: absolute;
    right: 32px;
    top: 16px;
    z-index: 999;
}
.menu > div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: .4s;
}
.change .bar1{
    transform: rotate(-45deg) translate(-4px,10px)
}
.change .bar2{
    opacity: 0;
}
.change .bar3{
    transform: rotate(45deg) translate(-4px,-12px)
}
.hero{
    background-image: url('/img/notebook-1280538_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #000000;
}
#typewrite::after{
    content: '_';
    height: 5%;
    right: -5px;
    animation: blink .5s infinite alternate linear;
}

.iconalign{
    display: inline-flex;
    vertical-align: middle;
}

.nav-menu{
    background: black;
    height: 100vh;
    right: -50vw;
    position: absolute;
    width: 50vw; 
    transition: right .5s; 
}
ul.menu-list{
    margin-top: 10vh;
}
.change.nav-menu{
    right: 0vw;
}

.item{
    padding: 8px;
    font-size: 30px;
}

.projects{
    padding-top: 32px;
    padding-bottom: 32px; 
}
.projects h1{
    font-size: 24px !important;
    font-weight: 700;
    margin: 16px;
}
.projects h2{
    font-size: 20px !important;
}
.myself{
    padding-top: 32px;
    padding-bottom: 32px; 
}


.myself h1{
    font-size: 24px !important;
    font-weight: 700;
    margin: 16px;
}
.code-icon{
    position: absolute;
    left: 32px;
    top: 32px;
    color: white;
}
.projects div.column{
    height: 250px;
}
.projects h2{
    padding-top: 20%;
}

.projects .column{
    margin: 5px;
}
.onam{
    border-radius: 8px;
    background-repeat: no-repeat;
    transition: 1s ;
}
.onam:hover{
    background: rgb(0, 0, 0);
}
.cgpc{
    border-radius: 8px;
    background-repeat: no-repeat;
    transition: 1s ;
}
.cgpc:hover{
    background: rgb(0, 0, 0);
}
.golazo{
    background-repeat: no-repeat;
    transition:  1s linear ;
    border-radius: 8px;
}
.golazo:hover{
    background: black;
}

.more{
    background-repeat: no-repeat;
    transition: 1s ;
    border-radius: 8px;
}
.more:hover{
    background:black;
}
.more:hover p{
    color: whitesmoke;
}

.findme{
    padding-top: 40px;
}
.fa-at:hover{
    color: red
}

.fa-github:hover{
    color: green
}
.fa-instagram:hover{
    color:  rgb(225,48,108) 
}
.fa-twitter:hover{
    color: rgb(29, 161, 242);
}
.fa-heart{
    color: red;
}
.fa-coffee{
    color: brown;
}
.cgpc>p>a{
    color: #4a4a4a;
}
.cgpc:hover p , .cgpc:hover p a{
    color: whitesmoke
}
.cgpc>p>a:hover{
    text-decoration: underline;
}

.fa-external-link-alt{
    font-size: 10px;
    vertical-align: top
}
